<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carlson Bot</title>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <style type="text/css">
      #sk-wrapper {
        width: 100vw !important;
      }
</style>
</head>
<body>
    <h2>SmoochBot Demo</h2>
</body>
</html>
