<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DylanBot</title>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <style type="text/css">
      #sk-container {
        right: 0px !important;
      }
      #sk-wrapper {
        width: 100vw !important;
      }
</style>
</head>
<body>
    <h2 style="text-align: center;">Dylan's Bot</h2>
    <p style="text-align: center;">Enter "hello" below to get started.</p>
</body>
</html>
